.navbar {
  background-color:orange;
  background-image: none;
  background-repeat: no-repeat;
  text-decoration-color: black;
 }

.nav.navbar-nav li a {
	font-family: 'Stardos Stencil';
	font-size: 20px;
    color: white;
}
