ul {
	position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ee7125;
}

li:first-child {
    float: left;
}

li {
	float:right;
}

li a {
    display: block;
    font-family: 'Stardos Stencil', bold;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ee7125;
}

img {
	height: 65px;
	width: 65px;
}